# Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/
.eggs/
*.pyo
*.pyd
*.pdb
*.log
*.sqlite3
*.db
*.sqlite
*.bak
*.swp
*.swo
*.tmp
*.temp
*.orig
*.old
*.backup
*.cache
*.DS_Store
.env
.venv
venv/
env/
ENV/
.Python
pip-log.txt
pip-delete-this-directory.txt

# Jupyter Notebook
.ipynb_checkpoints

# VSCode
.vscode/

# macOS
.DS_Store

# Linux
*~

# Test and coverage
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Docker
*.pid

# Logs
logs/
*.log

# Data
/data/database/
/data/faces/
/data/uploads/

# Models
/models/cache/
/models/deepface/
/models/insightface/

# Misc
*.orig
*.bak
*.backup
